.slider {
  height: 500px !important;
}

.slider h1 {
  margin-top: 0;
}

.slider h5 {
  margin-bottom: 30px;
}

.slider .indicators {
  bottom: 20px;
  z-index: 8;
}

.slider .indicators .indicator-item {
  background: #ffe0b2;
}

.slider .indicators .indicator-item.active {
  background: #ff9800;
}

.section-search input {
  padding: 0 20px !important;
  border: 3px solid #0097a7 !important;
  width: 80% !important;
  border-radius: 3px !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}
.input-field input:focus + label,
.input-field textarea:focus + label {
  color: #00bcd4 !important;
}

.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}

.input-field .prefix.active {
  color: #00bcd4 !important;
}

.col.s12 > .btn {
  width: 100%;
}

.row .col.m-4 {
  width: 33.33%;
}
